<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_mute.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,400},{681,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,383}}</string>
                <key>sourceSize</key>
                <string>{681,383}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,2},{774,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{774,396}}</string>
                <key>sourceSize</key>
                <string>{774,396}</string>
            </dict>
            <key>earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1209,1338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1209,1338}}</string>
                <key>sourceSize</key>
                <string>{1209,1338}</string>
            </dict>
            <key>flash0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,1320},{114,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,249}}</string>
                <key>sourceSize</key>
                <string>{114,249}</string>
            </dict>
            <key>flash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,1320},{114,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,249}}</string>
                <key>sourceSize</key>
                <string>{114,249}</string>
            </dict>
            <key>flash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,1320},{114,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,249}}</string>
                <key>sourceSize</key>
                <string>{114,249}</string>
            </dict>
            <key>flash3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1069},{114,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,249}}</string>
                <key>sourceSize</key>
                <string>{114,249}</string>
            </dict>
            <key>flash4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1069},{114,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,249}}</string>
                <key>sourceSize</key>
                <string>{114,249}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1342},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{80,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1342},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{64,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1342},{148,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,48}}</string>
                <key>sourceSize</key>
                <string>{148,48}</string>
            </dict>
            <key>play_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1342},{191,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,69}}</string>
                <key>sourceSize</key>
                <string>{191,69}</string>
            </dict>
            <key>previous.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1342},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{64,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{78,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{78,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>sun-light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,785},{533,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,533}}</string>
                <key>sourceSize</key>
                <string>{533,533}</string>
            </dict>
            <key>volume.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1342},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{72,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>volume_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1342},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{72,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,785},{282,193}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{282,193}}</string>
                <key>sourceSize</key>
                <string>{298,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Menu.png</string>
            <key>size</key>
            <string>{1989,1436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76efd690fd8a3ee508558fe01fe50aa4:2559862c5393e4001ba5c608aa1df045:474a9a58f742d06d2866a4a6eac25590$</string>
            <key>textureFileName</key>
            <string>Menu.png</string>
        </dict>
    </dict>
</plist>
